<% content_for :title, "New board" %>

<div class="max-w-md mx-auto mt-10 px-5">
  <div class="mb-8">
    <h1 class="font-bold text-3xl text-gray-800">New Board</h1>
    <p class="text-gray-500 text-sm mt-1">新しいキャンバスを作成します</p>
  </div>

  <!-- 部分テンプレートの呼び出し -->
  <%= render "form", board: @board %>
</div>